body {
    font-family: 'Fira Mono' !important;
    color: gray;
}

.btn-default:hover {
    color: #00B2EE;
    background-color: #ffffff;
    border-color: #00B2EE;
}

.btn-default {
    color: #ffffff;
    background-color: #00B2EE;
    border-color: #00B2EE;
}

.full-height {
    min-height: 100%;
    height: 100%;
}

.footer {
    padding-left: 20px;
    padding-right: 20px;
}